body {
    background-color: #222;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background-color: #555;
    border-color: transparent;
}

.tab-pane {
    background-color: #333;
    color: #fff;
}

.desc-Skill {
    background-color: #333;
    color: #fff;
}


/* Clases para galeria */
.mainImg {
    width: 350px;
}

.btnGalery {
    height: 70px;
    transform: translateY(150px);
}

#priorEvo-miniatures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, auto);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.3rem;
}

#nextEvo-miniatures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, auto);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.3rem;
}

.selected {
    width: 100px;
    transform: translateY(-10px);
}
