body{
    background-color: rgb(240, 242, 247);
}
h1{
    text-align: left;
    margin-left: 80px;
}

#buscador{
    padding: 10px;
    margin-left: 200px;
    margin-top: 20px;
    text-align: center;
}

#contenedor{
    height: 800px;
    padding: 15px;
    border: 1px black solid;
}

#mostrar-digimon {
    float: right;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    margin-right: 60px;
    margin-top: 20px;
    height: 550px;
    width: 380px;
    text-align: center;
}

#info-digimon{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-left: 5px;
    width: 785px;
    border: 1px black solid;
}