body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: rgb(240, 242, 247);
}

#header{
    background-color: #6495ed;
    color: snow;
    padding-top: 5px;
}
h1{
    text-align: left;
    margin-left: 80px;
}

#footer{
    background-color: #6495ed;
    color: snow;
}

#botonesPruebas{
    position: absolute;
    top: 30px;
    right: 100px;

}

#buscador{
    padding: 10px;
    margin-left: 200px;
    text-align: center;
}
.btnBuscar{
    padding: 5px;
    font-size: 18px;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #6495ed;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px #999;
    /*
    background-color:cornflowerblue;
    */
}
.btnBuscar:hover{
    background-color: #5078bf
}
.btnBuscar:active{
    background-color: #5078bf;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

#contenedor{
    height: auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px black solid;
}

#mostrar-digimon {
    float:right;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    height: auto;
    width: 380px;
    text-align: center;
    margin-left: 15px;
}

.other-table{
    width: 380px;
    text-align: center;
}

.titulo-info{
    background-color: #6495ed;
    color:snow;
    padding: 2px;
    padding-left: 15px;
    margin-top: 20px;
    width: 220px;
    font-weight: bold;
}
.contenido-info{
    font-size: 16.5px;
    text-align:justify;
    padding: 0px 10px 0px 10px;
    margin-right: 410px;
    width: auto;
    height: auto;
    border: 1px black solid;
}

#skill-table-style{
    border-collapse: collapse;
    margin-top:10px;
    width: 820px;

}
.skill-table-td{
    font-size: 15px;
    border: 1px black solid;
    padding: 3px;
    padding-left: 15px;
    text-align: left;
}
.skill-table-th{
    background-color: #6495ed;
    color:snow;
    padding: 2px;
    text-align: center; 
}